.image {
    width: 180px;
    height: 240px;
}

.cards {
    width: 180px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
}

.cards:hover {
    box-shadow: 1px 4px 3px rgb(133, 133, 133);
    transition: all 0.5s;
    cursor: pointer;
}

.detail-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: lightcoral;
    color: white;
}

.detail-button:hover {
    cursor: pointer;
    background-color: rgb(233, 71, 71);
    transition: all 0.5s;
}